@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__social {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -43px;

    &-circle {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);

      &-circle:hover,
      &-circle:focus {
        background-color: #2196f3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &-circle:hover &-link,
        &-circle:focus &-link {
          fill: #ffffff;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__social {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -43px;

    &-circle {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);

      &-circle:hover,
      &-circle:focus {
        background-color: #2196f3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &-circle:hover &-link,
        &-circle:focus &-link {
          fill: #ffffff;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .footer__social {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -43px;

    &-circle {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);

      &-circle:hover,
      &-circle:focus {
        background-color: #2196f3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &-circle:hover &-link,
        &-circle:focus &-link {
          fill: #ffffff;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}
