body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

figure {
  margin: 0;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.section3-index {
  background-color: white;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 0 auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 738px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .apps {
    width: 1200px;
    display: flex;
    padding: 0px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 480px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform-origin: center center;
    transform: translate(-50%, -50%);
  }
  .animated-mobile-menu {
    animation: animateMobile 1000ms;
  }
  @keyframes animateMobile {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .mobile-menu__close {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .mobile-menu__close:hover {
    fill: #2196f3;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    padding: 48px 40px 32px;
    margin: 0;
  }
  .mobile-menu__list-item {
    padding-bottom: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-decoration: none !important;
    color: #212121;
  }
  .mobile-menu__list-item:hover {
    color: #2196f3;
  }
  .mobile-menu__list-phone {
    color: #2196f3;
    margin-top: 270px;
  }
  .mobile-menu__list-mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
  }
  .mobile-menu__social {
    display: flex;
    padding-bottom: 48px;
    margin-right: 83px;
    justify-content: space-between;
  }
  .mobile-menu__social-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-menu__social-item:nth-child(-n + 3)::after {
    content: "";
    width: 0px;
    height: 22px;
    margin: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__social {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -43px;
  }
  .footer__social-circle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }
  .footer__social-circle-circle:hover, .footer__social-circle-circle:focus {
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-circle-circle:hover-circle:hover .footer__social-circle-circle:hover-link,
  .footer__social-circle-circle:hover-circle:focus .footer__social-circle-circle:hover-link, .footer__social-circle-circle:focus-circle:hover .footer__social-circle-circle:hover-link,
  .footer__social-circle-circle:focus-circle:focus .footer__social-circle-circle:hover-link, .footer__social-circle-circle:hover-circle:hover .footer__social-circle-circle:focus-link,
  .footer__social-circle-circle:hover-circle:focus .footer__social-circle-circle:focus-link, .footer__social-circle-circle:focus-circle:hover .footer__social-circle-circle:focus-link,
  .footer__social-circle-circle:focus-circle:focus .footer__social-circle-circle:focus-link {
    fill: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__social {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -43px;
  }
  .footer__social-circle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }
  .footer__social-circle-circle:hover, .footer__social-circle-circle:focus {
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-circle-circle:hover-circle:hover .footer__social-circle-circle:hover-link,
  .footer__social-circle-circle:hover-circle:focus .footer__social-circle-circle:hover-link, .footer__social-circle-circle:focus-circle:hover .footer__social-circle-circle:hover-link,
  .footer__social-circle-circle:focus-circle:focus .footer__social-circle-circle:hover-link, .footer__social-circle-circle:hover-circle:hover .footer__social-circle-circle:focus-link,
  .footer__social-circle-circle:hover-circle:focus .footer__social-circle-circle:focus-link, .footer__social-circle-circle:focus-circle:hover .footer__social-circle-circle:focus-link,
  .footer__social-circle-circle:focus-circle:focus .footer__social-circle-circle:focus-link {
    fill: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 769px) {
  .footer__social {
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -43px;
  }
  .footer__social-circle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }
  .footer__social-circle-circle:hover, .footer__social-circle-circle:focus {
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-circle-circle:hover-circle:hover .footer__social-circle-circle:hover-link,
  .footer__social-circle-circle:hover-circle:focus .footer__social-circle-circle:hover-link, .footer__social-circle-circle:focus-circle:hover .footer__social-circle-circle:hover-link,
  .footer__social-circle-circle:focus-circle:focus .footer__social-circle-circle:hover-link, .footer__social-circle-circle:hover-circle:hover .footer__social-circle-circle:focus-link,
  .footer__social-circle-circle:hover-circle:focus .footer__social-circle-circle:focus-link, .footer__social-circle-circle:focus-circle:hover .footer__social-circle-circle:focus-link,
  .footer__social-circle-circle:focus-circle:focus .footer__social-circle-circle:focus-link {
    fill: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 72px;
    padding-left: 77px;
    list-style-type: none;
  }
  .footer__newsletter-join {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
    color: #ffffff;
  }
  .dd {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
  }
  .footer-form__label {
    display: flex;
    width: 450px;
    height: 50px;
    padding-left: 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .footer-form__all-labels:hover {
    border: 1px solid #2196f3;
  }
  .footer__button {
    width: 200px;
    height: 50px;
    display: flex;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
  }
  .footer__button-text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 24px;
  }
  .footer__button-icon {
    display: flex;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 72px;
    padding-left: 77px;
    list-style-type: none;
  }
  .footer__newsletter-join {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
    color: #ffffff;
  }
  .dd {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .footer-form__label {
    display: flex;
    width: 450px;
    height: 50px;
    padding-left: 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    color: #ffffff;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer-form__all-labels:hover {
    border: 1px solid #2196f3;
  }
  .footer__button {
    width: 200px;
    height: 50px;
    display: flex;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
  }
  .footer__button-text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 24px;
  }
  .footer__button-icon {
    display: flex;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 769px) {
  .dd {
    margin: 0;
  }
  .footer__newsletter {
    display: flex;
    padding-bottom: 20px;
  }
  .footer__newsletter-join {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
    color: #ffffff;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
  }
  .footer-form__label {
    display: flex;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    color: #ffffff;
  }
  .footer-form__all-labels:hover {
    border: 1px solid #2196f3;
  }
  .footer__button {
    width: 200px;
    height: 50px;
    display: flex;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .footer__button-text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 24px;
  }
  .footer__button-icon {
    display: flex;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .list-portfolio {
    padding: 25px 0 60px 0;
  }
  .item-portfolio {
    width: 450px;
    height: 404px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 8px;
  }
  .item-portfolio:hover .overlay {
    transform: translate(0);
  }
  .item-portfolio:hover, .item-portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-portfolio__img {
    width: 450px;
    height: 294px;
  }
  .item-portfolio__box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156%;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
  }
  .overlay__text {
    margin: 49px 45px 49px 25px;
  }
  .item-portfolio__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 200%;
    /* identical to box height, or 200% */
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    letter-spacing: 0.06em;
    color: #212121;
    z-index: 1;
  }
  .item-portfolio__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 187%;
    /* identical to box height, or 187% */
    margin: 0px;
    margin-left: 20px;
    letter-spacing: 0.03em;
    color: #757575;
    z-index: 2;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .list-portfolio {
    padding: 25px 0 60px 0;
  }
  .item-portfolio {
    width: 354px;
    height: 404px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 8px;
  }
  .item-portfolio:hover .overlay {
    transform: translate(0);
  }
  .item-portfolio:hover, .item-portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-portfolio__img {
    width: 354px;
    height: 294px;
  }
  .item-portfolio__box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156%;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
  }
  .overlay__text {
    margin: 49px 45px 49px 25px;
  }
  .item-portfolio__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 200%;
    /* identical to box height, or 200% */
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    letter-spacing: 0.06em;
    color: #212121;
    z-index: 1;
  }
  .item-portfolio__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 187%;
    /* identical to box height, or 187% */
    margin: 0px;
    margin-left: 20px;
    letter-spacing: 0.03em;
    color: #757575;
    z-index: 2;
  }
}

@media screen and (min-width: 769px) {
  .item-portfolio {
    width: 370px;
    height: 404px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 8px;
  }
  .item-portfolio:hover .overlay {
    transform: translate(0);
  }
  .item-portfolio:hover, .item-portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-portfolio__box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156%;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
  }
  .overlay__text {
    margin: 49px 45px 49px 25px;
  }
  .item-portfolio__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 200%;
    /* identical to box height, or 200% */
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    letter-spacing: 0.06em;
    color: #212121;
    z-index: 1;
  }
  .item-portfolio__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 187%;
    /* identical to box height, or 187% */
    margin: 0px;
    margin-left: 20px;
    letter-spacing: 0.03em;
    color: #757575;
    z-index: 2;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav,
  .nav__agencja,
  .nav__agencja-p,
  .nav__agencja-underline,
  .nav__portfolio,
  .nav__portfolio-p,
  .nav__portfolio-p-underline,
  .nav__kontakt,
  .nav__mail-icon,
  .nav__mail,
  .nav__phone-icone,
  .nav__phone {
    display: none;
  }
  .header {
    width: 450px;
    height: 60px;
    background: #ffffff;
  }
  .nav {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px 15px;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
  .hamburger {
    display: flex;
    margin-left: 276px;
    width: 40px;
    height: 40px;
  }
  .hamburger:hover {
    fill: #2196f3;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hamburger {
    display: none;
  }
  .header {
    width: 764px;
    height: 80px;
    box-sizing: content-box;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    width: 734;
    height: auto;
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    width: 500px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }
  .nav__agencja {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
    cursor: pointer;
    transition-property: color;
    margin-top: 32px;
  }
  .nav__agencja-p {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    cursor: pointer;
    transition-property: color;
  }
  .nav__agencja-p:hover {
    color: #2196f3;
  }
  .nav__agencja-underline {
    height: 4px;
    width: 53px;
    background: #2196f3;
    border-radius: 2px;
    margin-top: 28px;
  }
  .nav__portfolio {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    cursor: pointer;
    margin: 0 50px;
  }
  .nav__portfolio:hover {
    color: #2196f3;
  }
  .nav__portfolio-p {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
    cursor: pointer;
    margin-top: 32px;
  }
  .nav__portfolio-p-underline {
    height: 4px;
    width: 58px;
    background: #2196f3;
    border-radius: 2px;
    margin-top: 28px;
  }
  .nav__kontakt {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    cursor: pointer;
  }
  .nav__kontakt:hover {
    color: #2196f3;
  }
  .nav-2 {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
  }
  .nav__mail-icon {
    margin-top: 1px;
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .nav__mail {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .nav__mail:hover {
    color: #2196f3;
  }
  .nav__phone-icon {
    margin-right: 10px;
  }
  .nav__phone {
    display: flex;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
  }
  .nav__phone:hover {
    color: #2196f3;
  }
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
  .header {
    height: 80px;
    left: 0px;
    top: 0px;
    box-sizing: content-box;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    display: inline-flex;
    align-items: center;
    width: 1200px;
  }
  .nav {
    display: flex;
    width: 800px;
    height: 80px;
    align-items: center;
    background-color: #ffffff;
    padding-left: 0px;
  }
  .nav-2 {
    display: inline-flex;
  }
  .nav__agencja {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
    cursor: pointer;
    margin-right: 46px;
    transition-property: color;
    margin-top: 32px;
  }
  .nav__agencja-p {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    cursor: pointer;
    margin-right: 46px;
    transition-property: color;
  }
  .nav__agencja-p:hover {
    color: #2196f3;
  }
  .nav__agencja-underline {
    height: 4px;
    width: 53px;
    background: #2196f3;
    border-radius: 2px;
    margin-top: 28px;
  }
  .nav__portfolio {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    cursor: pointer;
    margin-right: 46px;
  }
  .nav__portfolio:hover {
    color: #2196f3;
  }
  .nav__portfolio-p {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
    cursor: pointer;
    margin-right: 46px;
    margin-top: 32px;
  }
  .nav__portfolio-p-underline {
    height: 4px;
    width: 58px;
    background: #2196f3;
    border-radius: 2px;
    margin-top: 28px;
  }
  .nav__kontakt {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    cursor: pointer;
    margin-right: 345px;
  }
  .nav__kontakt:hover {
    color: #2196f3;
  }
  .nav__mail-icon {
    margin-top: 1px;
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .nav__mail {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
    align-items: stretch;
    margin-right: 30px;
  }
  .nav__mail:hover {
    color: #2196f3;
  }
  .nav__phone-icon {
    margin-right: 10px;
  }
  .nav__phone {
    display: flex;
    align-items: stretch;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
    align-items: stretch;
  }
  .nav__phone:hover {
    color: #2196f3;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav__webstudio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196f3;
    cursor: pointer;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav__webstudio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196f3;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 75px;
  }
}

@media screen and (min-width: 769px) {
  .nav__webstudio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196f3;
    cursor: pointer;
  }
  .nav__webstudio {
    display: flex;
    align-items: stretch;
    align-content: center;
    height: 31px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196f3;
    cursor: pointer;
    margin-right: 93px;
  }
  .nav__webstudio-color {
    color: #212121;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    width: 480px;
    display: flex;
    background: #2f303a;
    margin: 0;
    padding: 0;
  }
  .footer__block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footer__contact {
    width: 100%;
    display: flex;
    padding: 60px 0 0 0;
    flex-direction: column;
  }
  .footer__contact-web {
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .footer__contact-studio {
    color: #ffffff;
  }
  .footer__contact-street {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer__contact-mail {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 9px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__contact-phone {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 9px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
  }
  .footer__join-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 0 0 20px 0;
    margin: 0;
  }
  .footer__social {
    width: 206px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    width: 768px;
    display: flex;
    background: #2f303a;
    margin: 0;
    padding: 0;
  }
  .footer__block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .footer__contact {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
  }
  .footer__contact-web {
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .footer__contact-studio {
    color: #ffffff;
  }
  .footer__contact-street {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer__contact-mail {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 9px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__contact-phone {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 9px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px 0;
  }
  .footer__join-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 0 0 20px 0;
    margin: 0;
  }
  .footer__social {
    width: 206px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .footer {
    display: flex;
    height: 252px;
    background: #2f303a;
  }
  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0;
  }
  .footer__contact {
    display: flex;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer__contact-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 119%;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .footer__contact-studio {
    color: #ffffff;
  }
  .footer__contact-street {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer__contact-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 9px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__contact-phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
    /* or 171% */
    margin-top: 9px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__join {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 70px;
    padding-right: 108px;
    padding-bottom: 20px;
  }
  .footer__join-title {
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 0 0;
  }
  .buttons-list__item {
    width: 135px;
    height: 38px;
    cursor: pointer;
    background: #f5f4fa;
    border: 0;
    border-radius: 4px;
    margin: 0 8px 15px 0;
  }
  .buttons-list__item:hover, .buttons-list__item:focus {
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttons-list__item:hover:hover .buttons-list__item-text, .buttons-list__item:focus:hover .buttons-list__item-text {
    color: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttons-list__item-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40%;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .buttons-list {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0 0;
    margin: 0 auto;
  }
  .buttons-list__item {
    width: 125px;
    height: 38px;
    cursor: pointer;
    background: #f5f4fa;
    border: 0;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .buttons-list__item:hover, .buttons-list__item:focus {
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttons-list__item:hover:hover .buttons-list__item-text, .buttons-list__item:focus:hover .buttons-list__item-text {
    color: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttons-list__item-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40%;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 769px) {
  .buttons-list {
    display: flex;
    margin: 0 auto;
    padding-top: 94px;
    padding-left: 0px;
  }
  .buttons-list__item {
    width: 114px;
    height: 38px;
    cursor: pointer;
    background: #f5f4fa;
    border: 0;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .buttons-list__item:hover, .buttons-list__item:focus {
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttons-list__item:hover:hover .buttons-list__item-text, .buttons-list__item:focus:hover .buttons-list__item-text {
    color: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttons-list__item-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40%;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 0px;
  padding-bottom: 86px;
  padding-left: 0px;
  margin-top: 10px;
}
/*# sourceMappingURL=portfilio.css.map */