.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apps {
  width: 1200px;
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
