.nav__webstudio {
  display: flex;
  align-items: stretch;
  align-content: center;
  height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 119%;
  /* identical to box height */
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
  cursor: pointer;
  margin-right: 93px;
}

.nav__webstudio-color {
  color: #212121;
}
