.section5-index {
  margin-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section5-index__title {
  padding-top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  color: #212121;
}

.section5-index__list {
  display: flex;
  padding: 0;
}

.team {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  /* identical to box height */
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team__job {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 118%;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials-list {
  width: 206px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.socials-list__circle {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover &-icon,
    &:focus &-icon {
      fill: #ffffff;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
