.footer {
  display: flex;
  height: 252px;
  background: #2f303a;
}

.footer__block {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0;
}

.footer__contact {
  width: 285px;
  height: 190px;
  display: flex;
  padding: 0px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -40px;
}

.footer__contact-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 119%;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.footer__contact-studio {
  color: #ffffff;
}

.footer__contact-street {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  /* or 171% */
  margin-top: 20px;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer__contact-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  /* or 171% */
  margin-top: 9px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contact-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  /* or 171% */
  margin-top: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__join {
  display: flex;
  width: 206px;
  padding-top: 75px;
  padding-left: 68px;
  padding-bottom: 10px;
}

.footer__join-title {
  width: 113px;
  height: 16px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;

  color: #ffffff;
}
